
@media only screen and (max-width: 600px) {
  
}
body{
    padding: 0;
    background-image: url(../images/comp.jpeg);
    margin-left: 300px;
    opacity: 1.0;
    background-size: cover;
    background-color: rgb(225, 225, 225);
    font-family: Poppins, Actor, Adamina;
    max-width: 100%;
  }
  .top{
    margin:auto;
    margin-top: 50px;
    width: 50%;
    border: 3px;
    padding: 10px;
    background-color: gray;
    text-align: justify;
    border-radius: 8px;
  }

  .top >h2, h3 {
    text-align: center;
  }
  .top > h2,h3,h6{
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  #section{
    background-color: oldlace;
    border: 3px;
    width: 50%;
    
    margin-left: 380px;
    align-items: center;



  .middle{
    margin:auto;
    margin-top: 60px;
    width: 50%;
    border: 3px;
    background-color: gray;
    padding: 5px;
    border-radius: 10px;
    display:flex;
    text-align: center;
  }

  .middleR{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .middleR > h4{
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 5px;
    text-align: center;
  }
  .navigation{
    padding: 10px 25px;
    background-color: blue;
    border-color: black ;
    border-radius: 8px;
  }
  .navigation > a{
    text-decoration: none;
    font-size: 20px;
    color: black;


  }
  .navigation:hover {
    background-color: green;
  }
}