body{
    padding: 0;
    margin: 0;
    font-family: Poppins, Actor, Adamina;
    max-width: 100%;
  }
  .top{
    margin:auto;
    margin-top: 50px;
    width: 70%;
    border: 3px;
    padding: 10px;
    text-align: justify;
    border-radius: 8px;
  }
  .top > h{
    color: black;
    font-weight: bolder;
    font-size: 35px;
  }


  .middle{
    margin:auto;
    margin-top: 50px;
    width: 70%;
    border: 3px;
    padding: 10px;
    border-radius: 8px;
    display:flex;
    text-align: justify;
  }

  .middleR{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .middleR > h , p{
    font-size: 50px;
    font-weight: bolder;
    color: black;
    margin: 5px;
  }
  .navigation{
    padding: 15px 32px;
    background-color: blue;
    border-color: black ;
    border-radius: 8px;
  }
  .navigation > a{
    text-decoration: none;
    font-size: 25px;
    color: black;


  }
  .navigation:hover {
    background-color: green;
  }